<hr>
<h3>Company Details</h3>
<hr>
<div class="row">
  <div class="col-sm-3">
      <h5>CEO</h5>
      <p>{{ chiefExecutiveOfficer }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Number of Employees</h5>
      <p>{{ numberOfEmployees }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Headquarters</h5>
      <p>{{ headquarters }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Date Founded</h5>
      <p>{{ dateFounded }}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
      <h5>Market Cap</h5>
      <p>{{ marketCap }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Price to Earnings Ratio</h5>
      <p>{{ priceEarningsRatio }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Dividend Yield</h5>
      <p>{{ dividendYield }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Average Volume</h5>
      <p>{{ averageVolume }}</p>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
      <h5>High Today</h5>
      <p>{{ todayHigh }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Low Today</h5>
      <p>{{ todayLow }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Open Price</h5>
      <p>{{ openPrice }}</p>
  </div>
  <div class="col-sm-3">
      <h5>Volume</h5>
      <p>{{ volume }}</p>
  </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <h5>52 Week High</h5>
        <p>{{ yearHigh }}</p>
    </div>
    <div class="col-sm-3">
        <h5>52 Week Low</h5>
        <p>{{ yearLow }}</p>
    </div>
</div>
